<div class="header">
  <ul class="nav nav-pills pull-right">
    <!-- <li class="active"><a ng-href="#">仲氏“抑郁自评量表”（SDS）</a></li> -->
  </ul>
  <h3 class="text-muted">抑郁症测试</h3>
</div>

<div class="jumbotron">
  <h1>Read me</h1>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    以下是美国权威的仲氏“抑郁自评量表”（SDS），40年来经使用证实，该量表科学、方便。请做下面20道题，选择符合自己的程度――无、少有、常有和持续，测试你是否出现了抑郁征兆。
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->
</div>

<div class="row marketing">
  <div>
    <label>感到情绪沮丧</label>
    <input type="radio" name="s1" ng-model="s1" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s1" ng-model="s1" value="2">
    <label for="">少有</label>
    <input type="radio" name="s1" ng-model="s1" value="3">
    <label for="">常有</label>
    <input type="radio" name="s1" ng-model="s1" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>早晨心情最好</label>
    <input type="radio" name="s2" ng-model="s2" checked="checked" value="4">
    <label for="">无</label>
    <input type="radio" name="s2" ng-model="s2" value="3">
    <label for="">少有</label>
    <input type="radio" name="s2" ng-model="s2" value="2">
    <label for="">常有</label>
    <input type="radio" name="s2" ng-model="s2" value="1">
    <label for="">持续</label>
  </div>
  <div>
    <label>要哭或想哭</label>
    <input type="radio" name="s3" ng-model="s3" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s3" ng-model="s3" value="2">
    <label for="">少有</label>
    <input type="radio" name="s3" ng-model="s3" value="3">
    <label for="">常有</label>
    <input type="radio" name="s3" ng-model="s3" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>夜间睡眠不好</label>
    <input type="radio" name="s4" ng-model="s4" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s4" ng-model="s4" value="2">
    <label for="">少有</label>
    <input type="radio" name="s4" ng-model="s4" value="3">
    <label for="">常有</label>
    <input type="radio" name="s4" ng-model="s4" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>吃饭像平时一样多</label>
    <input type="radio" name="s5" ng-model="s5" checked="checked" value="4">
    <label for="">无</label>
    <input type="radio" name="s5" ng-model="s5" value="3">
    <label for="">少有</label>
    <input type="radio" name="s5" ng-model="s5" value="2">
    <label for="">常有</label>
    <input type="radio" name="s5" ng-model="s5" value="1">
    <label for="">持续</label>
  </div>
  <div>
    <label>性功能正常</label>
    <input type="radio" name="s6" ng-model="s6" checked="checked" value="4">
    <label for="">无</label>
    <input type="radio" name="s6" ng-model="s6" value="3">
    <label for="">少有</label>
    <input type="radio" name="s6" ng-model="s6" value="2">
    <label for="">常有</label>
    <input type="radio" name="s6" ng-model="s6" value="1">
    <label for="">持续</label>
  </div>
  <div>
    <label>感觉体重减轻</label>
    <input type="radio" name="s7" ng-model="s7" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s7" ng-model="s7" value="2">
    <label for="">少有</label>
    <input type="radio" name="s7" ng-model="s7" value="3">
    <label for="">常有</label>
    <input type="radio" name="s7" ng-model="s7" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>为便秘感到烦恼</label>
    <input type="radio" name="s8" ng-model="s8" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s8" ng-model="s8" value="2">
    <label for="">少有</label>
    <input type="radio" name="s8" ng-model="s8" value="3">
    <label for="">常有</label>
    <input type="radio" name="s8" ng-model="s8" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>心跳比平时快</label>
    <input type="radio" name="s9" ng-model="s9" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s9" ng-model="s9" value="2">
    <label for="">少有</label>
    <input type="radio" name="s9" ng-model="s9" value="3">
    <label for="">常有</label>
    <input type="radio" name="s9" ng-model="s9" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>无故感到疲劳</label>
    <input type="radio" name="s10" ng-model="s10" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s10" ng-model="s10" value="2">
    <label for="">少有</label>
    <input type="radio" name="s10" ng-model="s10" value="3">
    <label for="">常有</label>
    <input type="radio" name="s10" ng-model="s10" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>头脑像往常一样清楚</label>
    <input type="radio" name="s11" ng-model="s11" checked="checked" value="4">
    <label for="">无</label>
    <input type="radio" name="s11" ng-model="s11" value="3">
    <label for="">少有</label>
    <input type="radio" name="s11" ng-model="s11" value="2">
    <label for="">常有</label>
    <input type="radio" name="s11" ng-model="s11" value="1">
    <label for="">持续</label>
  </div>
  <div>
    <label>做事像平时一样不觉得困难</label>
    <input type="radio" name="s12" ng-model="s12" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s12" ng-model="s12" value="2">
    <label for="">少有</label>
    <input type="radio" name="s12" ng-model="s12" value="3">
    <label for="">常有</label>
    <input type="radio" name="s12" ng-model="s12" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>坐卧不安，难以保持平静</label>
    <input type="radio" name="s13" ng-model="s13" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s13" ng-model="s13" value="2">
    <label for="">少有</label>
    <input type="radio" name="s13" ng-model="s13" value="3">
    <label for="">常有</label>
    <input type="radio" name="s13" ng-model="s13" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>对未来满怀希望</label>
    <input type="radio" name="s14" ng-model="s14" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s14" ng-model="s14" value="2">
    <label for="">少有</label>
    <input type="radio" name="s14" ng-model="s14" value="3">
    <label for="">常有</label>
    <input type="radio" name="s14" ng-model="s14" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>比平时更容易激怒</label>
    <input type="radio" name="s15" ng-model="s15" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s15" ng-model="s15" value="2">
    <label for="">少有</label>
    <input type="radio" name="s15" ng-model="s15" value="3">
    <label for="">常有</label>
    <input type="radio" name="s15" ng-model="s15" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>觉得决定什么事很容易</label>
    <input type="radio" name="s16" ng-model="s16" checked="checked" value="4">
    <label for="">无</label>
    <input type="radio" name="s16" ng-model="s16" value="3">
    <label for="">少有</label>
    <input type="radio" name="s16" ng-model="s16" value="2">
    <label for="">常有</label>
    <input type="radio" name="s16" ng-model="s16" value="1">
    <label for="">持续</label>
  </div>
  <div>
    <label>感到自己有用和不可缺少</label>
    <input type="radio" name="s17" ng-model="s17" checked="checked" value="4">
    <label for="">无</label>
    <input type="radio" name="s17" ng-model="s17" value="3">
    <label for="">少有</label>
    <input type="radio" name="s17" ng-model="s17" value="2">
    <label for="">常有</label>
    <input type="radio" name="s17" ng-model="s17" value="1">
    <label for="">持续</label>
  </div>
  <div>
    <label>生活很有意义</label>
    <input type="radio" name="s18" ng-model="s18" checked="checked" value="4">
    <label for="">无</label>
    <input type="radio" name="s18" ng-model="s18" value="3">
    <label for="">少有</label>
    <input type="radio" name="s18" ng-model="s18" value="2">
    <label for="">常有</label>
    <input type="radio" name="s18" ng-model="s18" value="1">
    <label for="">持续</label>
  </div>
  <div>
    <label>假若我死了别人会过得更好</label>
    <input type="radio" name="s19" ng-model="s19" checked="checked" value="1">
    <label for="">无</label>
    <input type="radio" name="s19" ng-model="s19" value="2">
    <label for="">少有</label>
    <input type="radio" name="s19" ng-model="s19" value="3">
    <label for="">常有</label>
    <input type="radio" name="s19" ng-model="s19" value="4">
    <label for="">持续</label>
  </div>
  <div>
    <label>仍旧喜爱自己平时喜爱的东西</label>
    <input type="radio" name="s20" ng-model="s20" checked="checked" value="4">
    <label for="">无</label>
    <input type="radio" name="s20" ng-model="s20" value="3">
    <label for="">少有</label>
    <input type="radio" name="s20" ng-model="s20" value="2">
    <label for="">常有</label>
    <input type="radio" name="s20" ng-model="s20" value="1">
    <label for="">持续</label>
  </div>



</div>
<pre>
  {{(s1*1+s2*1+s3*1+s4*1+s5*1+s6*1+s7*1+s8*1+s9*1+s10*1+s11*1+s12*1+s13*1+s14*1+s15*1+s16*1+s17*1+s18*1+s19*1+s20*1)/80 || 0}}</pre>

<pre>
  结果：0.5以下者为无抑郁；0.5―0.59为轻微至轻度抑郁；0.6―0.69为中至重度；0.7以上为重度抑郁。▲
</pre>

<p>
  <h5>计算方式</h5>
  1、3、4、7、8、9、10、13、15、19、20题，选“无”记1分，“少有”记2分，“常有”记3分，“持续”记4分。2、5、6、11、12、14、16、17、18题，选“无”记4分，“少有”记3分，“常有”记2分，“持续”记1分。

  　　抑郁严重度=各条目累计分/80

  　　结果：0.5以下者为无抑郁；0.5―0.59为轻微至轻度抑郁；0.6―0.69为中至重度；0.7以上为重度抑郁。▲
</p>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
